*{ margin:0;}

#login{
    background-color: aqua;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15rem 10rem;
    width: 50vw;
    height: 50vh;
}


#signup{
    background-color: green;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15rem 10rem;
    width: 50vw;
    height: 50vh;
}
